:root{
    --main: #990033;
    --second: gray;
    --bg: #666666;
}



body{
    background-color: var(--bg);
}


/* ===========================
--- Navbar
============================ */

#navbar{
    background-color: var(--main);    
}

#navbar h5{
    color: white;    
}

#navbar .right a:hover{
    background: #363636;
}


/* ===========================
--- Content-Left
============================ */


/* ===========================
--- Content-Right
============================ */


/* ===========================
--- Elements
============================ */


a,.tp-caption a.btn:hover {
/*	color: #67b0d1;*/
    color: var(--second);
}



footer {
/*    background-color: #67b0d1;*/
    background-color: var(--main);
}