:root{
    --main: #00ADEF;
    --second: gray;
    --bg: #990033;
}



a,.tp-caption a.btn:hover {
/*	color: #67b0d1;*/
    color: var(--second);
}

#navbar{
    background-color: var(--bg);    
}


footer {
/*    background-color: #67b0d1;*/
    background-color: var(--bg);
}