/* ==== Google font ==== */

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700|Merriweather:400italic');

div#preloadimg {
    display: none;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;

}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 1.6em;
}

p.lead {
    font-weight: 600;
}

a {
    color: #28c3ab;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
}

th {
    text-align: center;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #fff;
}

.light {
    font-weight: 400;
}



.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .3);

}




/* loader */

#preloader {
    background: #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}


#loaderInner {
    background: #ffffff url(../img/spinner.gif) center center no-repeat;
    height: 60px;
    left: 50%;
    margin: -50px 0 0 -50px;
    position: absolute;
    top: 50%;
    width: 60px;
}

@keyframes boxSpin {
    0% {
        transform: translate(-10px, 0px);
    }
    25% {
        transform: translate(10px, 10px);
    }
    50% {
        transform: translate(10px, -10px);
    }
    75% {
        transform: translate(-10px, -10px);
    }
    100% {
        transform: translate(-10px, 10px);
    }
}


@keyframes shadowSpin {
    0% {
        box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
    }
    25% {
        box-shadow: 10px 10px #39CCCC, -10px -10px #FFDC00;
    }
    50% {
        box-shadow: -10px 10px #39CCCC, 10px -10px #FFDC00;
    }
    75% {
        box-shadow: -10px -10px #39CCCC, 10px 10px #FFDC00;
    }
    100% {
        box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
    }
}

#load {
    z-index: 9999;
    background-color: #FF4136;
    opacity: 0.75;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    margin: -5px auto 0 auto;
    left: 0;
    right: 0;
    border-radius: 0px;
    border: 5px solid #FF4136;
    box-shadow: 10px 0px #39CCCC, 10px 0px #01FF70;
    animation: shadowSpin 1s ease-in-out infinite;
}

/* misc */

hr {
    margin-top: 10px;
}

.pull-center {
    margin: 0 auto;
}


/* margins */

.marginbot-0 {
    margin-bottom: 0 !important;
}

.marginbot-10 {
    margin-bottom: 10px !important;
}

.marginbot-20 {
    margin-bottom: 20px !important;
}

.marginbot-30 {
    margin-bottom: 30px !important;
}

.marginbot-40 {
    margin-bottom: 40px !important;
}

.marginbot-50 {
    margin-bottom: 50px !important;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #AAA;
}



/* ===========================
--- General sections
============================ */

/* --- section bg var --- */

.bg-white {
    background: #fff;
}

.bg-gray {
    background: #f8f8f8;
}


.bg-dark {
    background: #575757;
}

/* --- section color var --- */

.text-light {
    color: #fff;
}

.scrollable {
    overflow-y: auto;
}

#contentwrapper {
    display: inline-block;
}



/* ===========================
--- Navbar
============================ */

#navbar h5 {
    display: inline-block;
    font-size: 15px;
    margin-bottom: 0;
}

#navbar {
    height: 41.33px;
    width: 100%;

}

/*left*/

#navbar .left img {
    width: 25px;
    padding-top: 1px;
    margin-left: 5px;
    margin-right: 5px;
}

#navbar .left {
    padding-top: 3px;
    width: 33%;
    float: left;
}

/*center*/

#navbar .center {
    width: 33%;
    float: left;
    text-align: center;
    padding-top: 10px;
}

/*right*/

#navbar .right {
    width: 33%;
    float: right;
    margin-top: 3px;
    text-align: right;
}

#navbar .right a {
    margin-right: 8px;
}

#navbar .subleft {
    display: inline-block;
}

#navbar .subcenter {
    display: inline-block;
}

#navbar .subright {
    display: inline-block;
}

#navbar .right img {
    width: 35px;
    height: 35px;
    padding-left: 5px;
    padding-right: 5px;

}


/* ===========================
--- Search Menus
============================ */

#menu .top {}

#menu .bottom {
    /*background-color: white;*/
    display: inline-block;
}

#menu {
    /*    display: inline-block;*/
    display: none;
    padding-top: 35px;
    /*margin-right: 10px;*/
    width: 29%;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
}

#menu button.accordion {
    background-color: white;
    color: black;
    cursor: pointer;
    margin-top: 10px;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    border-style: solid;
    border-width: 1px;
    font-size: 15px;
    /*transition: 0.1s;*/
}

#menu button.accordion.active {
    border-bottom: none !important;
    border-radius: 4px 4px 0 0;
    background-color: #ccc;
}

#menu i {
    float: right;
}

#menu button.accordion.active i {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

#menu button.accordion.active,
button.accordion:hover {
    background-color: #ccc !important;

}

#menu .panel {
    margin: 0px;
    padding: 0 18px;
    display: none;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 0 0 4px 4px;
    border-top: none !important;
    /*transition: 0.1s !important;*/
}


/* ===========================
--- Course & Accordion Button
============================ */

#coursecontent .top {}

#coursecontent .bottom {
    /*background-color: white;*/
    display: inline-block;
}

#coursecontent {
    display: inline-block;

    padding-top: 35px;
    /*margin-right: 10px;*/
    width: 29%;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
}

#coursecontent i {
    float: right;
}



#coursecontent button.accordion {
    background-color: white;
    color: black;
    cursor: pointer;
    margin-top: 10px;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    border-style: solid;
    border-width: 1px;
    font-size: 15px;
    /*transition: 0.1s;*/
}

#coursecontent button.accordion.active {
    border-bottom: none !important;
    border-radius: 4px 4px 0 0;
    background-color: #ccc;
}

#coursecontent button.accordion.active i {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

#coursecontent button.accordion.active,
button.accordion:hover {
    background-color: #ccc !important;

}

#coursecontent .panel {
    margin: 0px;
    padding: 0 18px;
    display: none;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 0 0 4px 4px;
    border-top: none !important;
    /*transition: 0.1s !important;*/
}






/* ===========================
--- Calendar Banner
============================ */

#calendarbanner {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 20px;
}

#calendarbanner i {
    float: right;
}

#calendarbanner button.accordion {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    border-style: solid;
    border-width: 1px;
    font-size: 15px;
    /*transition: 0.1s;*/
}

#calendarbanner button.accordion.active {
    /*    border-bottom: none !important;*/
    border-radius: 4px 4px 0 0;
    border-color: black black #ccc black;
    background-color: #ccc;
}

#calendarbanner button.accordion.active i {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

#calendarbanner button.accordion.active,
button.accordion:hover {
    background-color: #ccc !important;

}

#calendarbanner .panel {
    margin: 0px;
    padding: 0 18px;
    display: none;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 0 0 4px 4px;
    border-top: none !important;
    position: absolute;
    width: 52.5%;
    z-index: 10;
    /*transition: 0.1s !important;*/
}

/* ===========================
--- Calendar Legend
============================ */

#legend {
    display: table;
    width: 55%;
    margin: 0 auto;
    background-color: #232B2B;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    margin-top: -35px;
}

#legend i {
    margin-right: 3px;
}

#legend .blue {
    color: #7FDBFF;
    float: left;
    width: 33%;
    text-align: center;
}

#legend .green {
    color: #2ECC40;
    float: left;
    width: 33%;
    text-align: center;
}

#legend .red {
    color: #FF4136;
    float: right;
    width: 33%;
    text-align: center;
}

/* ===========================
--- Practice Buttons
============================ */

#calendarcontent .screenswitch{
    display: table;
    background-color: #232B2B;
    border-color: #AAAAAA;
    color: #FF851B;
    margin: 0 auto;
    margin-top: 6px;
}

#calendarcontent .remWeekend{
    display: table;
    background-color: #232B2B;
    border-color: #AAAAAA;
    color: #F012BE;
    margin: 0 auto;
    margin-top: 6px;
}


/* ===========================
--- Content-Right
============================ */

#coursecontent{
    width: 29%;
}

#coursecontent .bottom{
    width: 100%;
}
#coursecontent .accordion{
    width: 100%;
}

#coursecontent .panel {
    width: 100%;
    padding: 0 !important;
}

#coursecontent .table-holder{
    width: 100%;
    margin: 0 auto;
}

#coursecontent .table-center{
    width: 100%;
    display:block-inline;
}

#coursecontent table{
    border-collapse;
    width: 100%;
    margin: 0 auto;
}

#coursecontent table tbody, #coursecontent table thead{
    /*display: block;*/
}

#coursecontent tbody{
    width: 100%;
    padding-right: 10px;
}

#coursecontent table tbody{
   /*overflow: auto;*/
   width: 100%;
   /*height: 350px;*/
   background-color: black;
}

#coursecontent th , #coursecontent td{
    text-align: center;
    font-size: 16px;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    /*width: 1000px;*/
}

#coursecontent tr{

}


#coursecontent tr:nth-child(even){
    color: black !important;
    background-color: #B9A5AB !important;
}

#coursecontent th{
    /*font-size: 15px !important;*/
    color: black !important;
    background-color: #B9A5AB !important;
}

#coursecontent tr:nth-child(odd){
    color: black !important;
    background-color: white !important;
}


/* ===========================
--- Calendar
============================ */

#calendarcontent {
    display: inline-block;
    width: 70%;
}

#calendar {}

#calendar table {
    font-family: sans-serif;
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    table-layout: fixed;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

#calendar table thead tr th {
    background: #626E7E;
    color: #d1d5db;
    padding: 0.5em;
    overflow: hidden;
}

#calendar table thead tr th:first-child {
    border-radius: 3px 0 0 0;
}

#calendar table thead tr th:last-child {
    border-radius: 0 3px 0 0;
}

#calendar table thead tr th .day {
    display: block;
    font-size: 1.2em;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 auto 5px;
    padding: 5px;
    line-height: 1.8;
}

#calendar table thead tr th .day.active {
    background: #d1d5db;
    color: #626E7E;
}

#calendar table thead tr th .short {
    display: none;
}

#calendar table thead tr th i {
    vertical-align: middle;
    font-size: 2em;
}

#calendar table tbody tr {
    background: #d1d5db;
}

#calendar table tbody tr:nth-child(odd) {
    background: #c8cdd4;
}

/* n is the number of rows before border bottom */

#calendar table tbody tr:nth-child(n + 0) td {
    border-bottom: 1px solid #626E7E;
}

#calendar table tbody tr td {
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid #626E7E;
    position: relative;
    height: 4.5vh;/*46px*/
    cursor: pointer;
}

#calendar table tbody tr td:last-child {
    border-right: 1px solid #626E7E;
}

#calendar table tbody tr td.hour {
    font-size: 1em;
    padding: 0;
    color: #626E7E;
    background: #fff;
    border-bottom: 1px solid #626E7E;
    border-collapse: separate;
    min-width: 100px;
    cursor: default;
}

#calendar table tbody tr td.last {
    border-bottom: none;
}

#calendar table tbody tr td.hour span {
    display: block;
}

span.day {
    font-family: 'Lato', sans-serif;
}

#calendar .sat{
    
}
#calendar .sun{
    
}


@media (max-width: 60em) {
    #calendar table thead tr th .long {
        display: none;
    }
    #calendar table thead tr th .short {
        display: block;
    }
    /*
    #calendar table tbody tr td.hour span {
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
    }
*/
}

@media (max-width: 27em) {
    #calendar table thead tr th {
        font-size: 65%;
    }
    #calendar table thead tr th .day {
        display: block;
        font-size: 0.85em;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin: 0 auto 5px;
        padding: 5px;
    }
    #calendar table thead tr th .day.active {
        background: #d1d5db;
        color: #626E7E;
    }
    #calendar table tbody tr td.hour {
        font-size: 0.85em;
    }
    /*
    #calendar table tbody tr td.hour span {
        transform: translateY(16px) rotate(270deg);
        -webkit-transform: translateY(16px) rotate(270deg);
        -moz-transform: translateY(16px) rotate(270deg);
    }
*/
}




/* ===========================
--- Elements
============================ */

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle.btn-dark {
    border: 2px solid #666;
    color: #666;
}


.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255, 255, 255, .1);
}

.btn-circle.btn-dark :hover,
.btn-circle.btn-dark :focus {
    outline: 0;
    color: #999;
    background: #fff;
}

.btn-circle.btn-dark :hover i,
.btn-circle.btn-dark :focus i {
    color: #999;
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}



@-webkit-keyframes pulse {
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}


.btn-skin:hover,
.btn-skin:focus,
.btn-skin:active,
.btn-skin.active {
    color: #fff;
    background-color: #666;
    border-color: #666;
}


.btn-default:hover,
.btn-default:focus {
    border: 1px solid #28c3ab;
    outline: 0;
    color: #000;
    background-color: #28c3ab;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

/* ===========================
--- Scroll Bar
============================ */

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
    background: #ebebeb;
}

::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #666666;
}

::-webkit-scrollbar-track:active {
    background: #333333;
}

::-webkit-scrollbar-corner {
    background: transparent;
}



/* ===========================
--- Media Queries
============================ */

@media(min-width:767px) {

    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }


}

@media (max-width:1199px) {
    #legend {
        width: 85%
    }
}

@media (max-width:768px) {
    #navbar h5,
    #navbar .center {
        display: none;
    }
    #navbar .left {
        width: 20%;
    }
    #navbar .right {
        width: 80%;
    }

    #menu {
        width: 80%;
        margin: 0 auto;
    }
    #legend {
        width: 95%
    }
    #coursecontent {
        display: none;
    }
    #calendarcontent {
        width: 100%;
    }
    #calendar table tbody tr td {
        height: 29px;
    }
    #calendarbanner .panel {
        width: 75%;
    }
    #coursecontent{
        width: 100%;
    }

}

}

@media (max-width:480px) {}

@media only screen and (max-width:1050px) {}

@media (max-width:340px) {}
